.login-panel {
    text-align: center;
    width: 600px;
    margin: auto;
    margin-top: 150px;
}

.login-form {
    margin-top: 50px;
}

.login-panel .form-group {
    text-align: left !important;
}