<div class="row topics-filter">
    <div class="col-md-6">
        <div class="form-group">
            <label for="topic_prefix">Topic Prefix</label>
            <input type="text" class="form-control" id="topic_prefix" ng-model="topic_filter.prefix"
                   ng-blur="start_listening();">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="timeout">Publication timeout (minute)</label>
            <input type="number" min="1" max="10" step="1" class="form-control" id="timeout" ng-model="topic_filter.timeout">
        </div>
    </div>
</div>

<table class="table topics-table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Subscribe</th>
        <th scope="col">Topic</th>
        <th scope="col">Last Publication</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="topic in topics" ng-show="topic.last_update>get_timeout_time()">
        <td>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" ng-model="topic.subscribe">
            </div>
        </td>
        <td>{{topic.topic}}</td>
        <td>{{topic.last_update | date:'HH:mm:ss'}}</td>
    </tr>
    </tbody>
</table>

<table class="table message-table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Topic</th>
        <th scope="col">Username</th>
        <th scope="col">User Role</th>
        <th scope="col">Received at</th>
        <th scope="col">Message</th>
        <th scope="col" class="text-center">
            <i class="fas fa-trash fake-link" ng-click="messages=[];"></i>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="msg in messages" class="fake-link" ng-style="{'background-color': msg.color}"
        ng-click="showMessage(msg);">
        <td>{{msg.topic}}</td>
        <td>{{msg.publisher_authid}}</td>
        <td>{{msg.publisher_authrole}}</td>
        <td>{{msg.received_time | date:'HH:mm:ss'}}</td>
        <td colspan="2">{{msg.message | json_str | limitTo:100}}...</td>
    </tr>
    </tbody>
</table>