<div class="row topics-filter">
    <div class="col-md-3">
        <div class="form-group">
            <label for="topic_prefix">Topic Prefix</label>
            <input type="text" class="form-control" id="topic_prefix" ng-model="topic_filter.prefix"
                   ng-blur="start_listening();">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="timeout">Publication timeout (minute)</label>
            <input type="number" min="1" max="10" step="1" class="form-control" id="timeout" ng-model="topic_filter.timeout">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="topic_search">Topic Search</label>
            <input type="text" class="form-control" id="topic_search" ng-model="topic_filter.search" ng-blur="apply_md5();">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="topic_search">Content Search</label>
            <input type="text" class="form-control" id="content_search" ng-model="content_search" ng-blur="apply_md5();">
        </div>
    </div>
</div>

<div class="row mb-5 mt-4">
    <div class="col-md-4">
        <table class="table topics-table">
            <thead class="table-dark">
            <tr>
                <th> </th>
                <th>Topic</th>
                <th>Last</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="topic in topics" ng-show="topic.last_update>get_timeout_time() && search(topic)">
                <td>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" ng-model="topic.subscribe">
                    </div>
                </td>
                <td>{{topic.topic}}</td>
                <td>{{topic.last_update | date:'HH:mm:ss'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-8">
        <table class="table message-table">
            <thead class="table-dark">
            <tr>
                <th scope="col">Topic</th>
<!--                <th scope="col">Username</th>-->
<!--                <th scope="col">User Role</th>-->
                <th scope="col">Received at</th>
                <th scope="col">Message</th>
                <th scope="col" class="text-center">
                    <i class="fas fa-trash fake-link" ng-click="messages=[];"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="msg in messages" class="fake-link" ng-style="{'background-color': msg.color}"
                ng-click="showMessage(msg);" ng-show="content_filter(msg.message)">
                <td>{{msg.topic}}</td>
<!--                <td>{{msg.publisher_authid}}</td>-->
<!--                <td>{{msg.publisher_authrole}}</td>-->
                <td>{{msg.received_time | date:'HH:mm:ss'}}</td>
                <td colspan="2">{{msg.message | json_str | limitTo:80}}...</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



