<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group m-3">
                <label for="rpc_search">Search</label>
                <input type="text" class="form-control" id="rpc_search" ng-model="rpc_filter">
            </div>

            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th>RPC URI</th>
                    <th class="text-end pe-3">
                        <i class="fas fa-sync-alt fake-link" ng-click="get_rpcs();"></i>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rpc in rpcs | filter:rpc_filter">
                    <td>{{rpc.uri}}</td>
                    <td class="text-end">
                        <div class="btn btn-primary btn-sm" ng-click="prepare_call(rpc.uri);">CALL</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8 p-3">
            <div class="card">
                <div class="card-body">
                    RPC: {{call.uri}}
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Parameters
                        </div>
                        <div class="card-body">
                            <textarea class="rpc-params" ng-model="call.params"></textarea>
                        </div>

                        <div class="card-footer p-0" ng-show="call.uri">
                            <div class="btn btn-primary rpc-btn" ng-click="rpc_call();">Call RPC</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" ng-class="{'text-bg-success': call.success, 'text-bg-danger': call.error}">
                            Response
                        </div>
                        <div class="card-body">
                            <pre>{{call.result}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>